{% layout 'layout.liquid' %}
{% block content %}
    {% if shows.length > 0 %}
        <h2>All Tv Shows</h2>
        <ul>
            {% for show in shows %}
                <li>{{ show.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>No tv shows yet... Go create some!</h2>
    {% endif %}
{% endblock %}